# {{ ansible_managed }}

general: {
    #no_webrtc_encryption = true
    protected_folders = [
        "/bin",
        "/boot",
        "/dev",
        "/etc",
        "/initrd",
        "/lib",
        "/lib32",
        "/lib64",
        "/proc",
        "/sbin",
        "/sys",
        "/usr",
        "/var",
        "/opt/janus/bin",
        "/opt/janus/etc",
        "/opt/janus/include",
        "/opt/janus/lib",
        "/opt/janus/lib32",
        "/opt/janus/lib64",
        "/opt/janus/sbin"
    ]
}
certificates: {
{% if janus_cert_pem is defined and janus_cert_key is defined %}
    cert_pem = "{{ janus_cert_pem }}"
    cert_key = "{{ janus_cert_key }}"
{% else %}
    #cert_pem = "/etc/janus/janus.crt"
    #cert_key = "/etc/janus/janus.key";
    #cert_pwd = "secretpassphrase"
{% endif %}
    ciphers = "ECDHE-RSA-AES256-GCM-SHA512:DHE-RSA-AES256-GCM-SHA512:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384"
    #dtls_accept_selfsigned = false
    #dtls_ciphers = "your-desired-openssl-ciphers"
    #rsa_private_key = false
}
media: {
    #ipv6 = true
    #min_nack_queue = 500
    rtp_port_range = "20000-40000"
    #dtls_mtu = 1200
    #no_media_timer = 1
    #slowlink_threshold = 4
    #twcc_period = 100
    #dtls_timeout = 500
    #dscp = 46
}
nat: {
{% if janus.nat.stun_server is defined %}
    stun_server = "{{ janus.nat.stun_server }}"
{% else %}
    #stun_server = "stun.nextcloud.com"
{% endif %}
{% if janus.nat.stun_port is defined %}
    stun_port = janus.nat.stun_port
{% else %}
    #stun_port = 3478
{% endif %}
    nice_debug = false
    full_trickle = true
    #ice_lite = true
    #ice_tcp = true
    #ignore_mdns = true
    #nat_1_1_mapping = "1.2.3.4"
    #keep_private_host = true
    #turn_server = "myturnserver.com"
    #turn_port = 3478
    #turn_type = "udp"
    #turn_user = "myuser"
    #turn_pwd = "mypassword"
    #turn_rest_api = "http://yourbackend.com/path/to/api"
    turn_rest_api_key = "{{ janus.nat.turn_rest_api_key }}"
    #turn_rest_api_method = "GET"
    #ice_enforce_list = "eth0"
    ice_ignore_list = "vmnet,docker";
    #ignore_unreachable_ice_server = true
}
plugins: {
    disable = "libjanus_audiobridge.so,libjanus_echotest.so,libjanus_lua.so,libjanus_nosip.so,libjanus_recordplay.so,libjanus_sip.so,libjanus_sipre.so,libjanus_streaming.so,libjanus_textroom.so,libjanus_videocall.so,libjanus_voicemail.so";
}
transports: {
    disable = "libjanus_http.so,libjanus_pfunix.so,libjanus_rabbitmq.so";
}
loggers: {
    #disable = "libjanus_jsonlog.so"
}
events: {
    #broadcast = true
    disable = "libjanus_sampleevh.so";
    #stats_period = 5
}
